.git
.github
.idea
.vscode
.env
.env.backup
.env.production
node_modules
vendor
tests
docs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log
Thumbs.db
.DS_Store
docker-compose*.yml
